sudo: required
services:
  - redis-server

language: go

go:
  - 1.7.3
  - 1.8
  - tip

install:
  - go get -t -v ./...
  - go get github.com/mattn/goveralls

script:
  - goveralls -service travis-ci
